<?xml version="1.0"?>
<launch>

  <!-- previously run separately, new launch file for simplicity: -->
  <!-- roslaunch kinova_gazebo workstation_and_robot_launch.launch kinova_robotType:=j2s7s300 -->
  <!-- roslaunch j2s7s300_moveit_config j2s7s300_gazebo_workstation_demo.launch -->

  <!-- j2s7s300 and simulated workstation + cameras configuration and model spawning launch file -->
  <include file="$(find kinova_gazebo)/launch/workstation_and_robot_launch.launch">
    <arg name="kinova_robotType" value="j2s7s300"/>
  </include>

  <!-- j2s7s300 gazebo controllers and move_group launch file -->
  <include file="$(find j2s7s300_moveit_config)/launch/j2s7s300_gazebo_workstation_demo.launch" />

</launch>
