<?xml version="1.0"?>
<launch>

  <!-- these are the arguments you can pass this launch file, for example paused:=true -->  
  <arg name="kinova_robotType" default="j2s7s300"/>
  <arg name="kinova_robotName" default="$(arg kinova_robotType)"/>
  <arg name="paused" default="true"/>
  <arg name="use_sim_time" default="true"/>
  <arg name="gui" default="true"/>
  <arg name="headless" default="false"/>
  <arg name="debug" default="false"/>
  <arg name="use_trajectory_controller" default="true"/>
  <arg name="is7dof" default="false"/>
  <arg name="use_sim_workstation" default="false"/>

  <!-- j2s7s300 and simulated workstation + cameras configuration and model spawning launch file -->
  <include file="$(find kinova_gazebo)/launch/robot_launch.launch">
    <arg name="kinova_robotType" value="$(arg kinova_robotType)"/>
    <arg name="kinova_robotName" value="$(arg kinova_robotName)"/>
    <arg name="paused" value="$(arg paused)"/>
    <arg name="use_sim_time" value="$(arg use_sim_time)"/>
    <arg name="gui" value="$(arg gui)"/>
    <arg name="headless" value="$(arg headless)"/>
    <arg name="debug" value="$(arg debug)"/>
    <arg name="use_trajectory_controller" value="$(arg use_trajectory_controller)"/>
    <arg name="is7dof" value="$(arg is7dof)"/>
    <arg name="use_sim_workstation" value="$(arg use_sim_workstation)"/>
  </include>

  <!-- j2s7s300 gazebo controllers and move_group launch file -->
  <include file="$(find j2s7s300_moveit_config)/launch/j2s7s300_gazebo_demo.launch">
    <arg name="use_sim_workstation" value="$(arg use_sim_workstation)"/>
  </include>

</launch>

